.sidebar {
  width: 210px;
  height: 100vh;
  background: rgba(24, 101, 172, 0.49);
  border-right: 2px solid #000000;

  padding: 30px 15px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.nav-link {
  font-size: 17px;
  display: flex;
  padding: 11px 14px;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000000;
  border-radius: 10px;
  transition: 0.2s;
}

.nav-link:hover {
  background: #f3f5f6;
}

.nav-link.active {
  background: #e5e7eb;
  font-weight: 500;
}
